# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
win_phy*
*_lsg.pdf
*.asv

# Fuer lokale Dateien
*_.m
*_.tex
blatt02_lsg.blg
*.bbl
